@import '../colors';
@import '../variables';

button, .btn {
  background-color: $color-bg-btn;
  border-radius: $border-radius;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-size: $font-size-base;
  line-height: 1;
  outline: none;
  padding: .75rem;
  &.btn--outline {
    background-color: transparent;
    box-shadow: inset 0 0 0 3px $color-bg-btn;
    color: $color-bg-btn;
  }
  &.btn--sm {
    font-size: .8rem;
    padding: .5rem;
    text-transform: uppercase;
  }
  &.btn--lg {
    padding: 1rem;
  }
}
