@import '../colors';
@import '../variables';

button, .btn {
  background-color: $color-bg-btn;
  border-radius: $border-radius;
  border: none;
  font-size: $font-size-base;
  outline: none;
  padding: 1rem;
}
