.flx {
  display: flex;
  .flx__1 {
    flex: 1;
  }
  .flx__2 {
    flex: 2;
  }
  .flx__3 {
    flex: 3;
  }
  .flx__4 {
    flex: 4;
  }
  .flx__5 {
    flex: 5;
  }
  .flx__6 {
    flex: 6;
  }
}

.flx {
  padding: 1rem .5rem;
  > [class*=flx__] {
    margin: 0 .5rem;
  }
}
