.flx {
  display: flex;
  padding: 0 .5rem;
  &.flx--vmiddle {
    align-items: center;
  }
  > [class*=flx__] {
    margin: 0 .5rem;
  }
  .flx__1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }
  .flx__2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }
  .flx__3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .flx__4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
  .flx__5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }
  .flx__6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .flx__7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }
  .flx__8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }
  .flx__9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .flx__10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }
  .flx__11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }
  .flx__12 {
    flex-basis: 100%;
    max-width: 100%;
  }
}

.flx {
  padding: 1rem .5rem;
  > [class*=flx__] {
    margin: 0 .5rem;
  }
}
