ul.dropdown {
  display: block;
  > li {
    position: relative;
    &:hover {
      > ul {
        display: block;
      }
    }
    > ul {
      display: none;
      position: absolute;
      top: 100%;
      width: 100%;
    }
  }
  &.dropdown--sm {
    > li {
      .dropdown__label {
        background-color: #aaa;
        border-radius: 3px;
        border: none;
        cursor: pointer;
        font-size: .8rem;
        outline: none;
        display: block;
        width: 200px;
        padding: .5rem;
      }
    }
  }
}
